/vendor/
.idea/
#Visual Studio Code files
.vscode/

#PHPUnit test files
phpunit.xml.dist/

# exclude everything
log/*
*.log

# exception to the rule
!log/.gitkeep 

#coposer
composer.phar
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
